.card-list{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.card-list_texts{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}