.card-list{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;

    background-color: aliceblue;
    border: 0.1rem black solid;
    width: 20vw;
    margin: 1rem;
}

.card-list_img{
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
}

.card-list_texts{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    width: 10vw;
}

.card-list_texts h1{
    font-size: 1rem;
}

.card-list_type{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 1rem;
}

#type{
    text-transform: uppercase;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#id{
    font-size: 1rem;
}