.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50vw;
    border: 2px solid black;
}

.card img{ 
    background-color: rgb(250, 220, 231);
}

.card-texts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-right: 0.5rem;
    padding-left: 0.5rem;

    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

.card-texts h1{
    padding-bottom: 5px;

    font-size: 1.5rem;
}

.card-texts p{
    color: rgb(224, 99, 157);
    font-weight: 700;
    font-size: 1rem;
}

.card-descriptions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

#power{
    margin: 0.5rem;
    text-align: start;
}

#effect{
    text-align: start;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.5rem;
}

#damage{
    margin: 0.5rem;
    text-align: start;
}

@media screen and (max-width: 360px) {
    .card-texts{
        display: flex;
        flex-direction: column;

        padding-right: 0.5rem;
        padding-left: 0.5rem;
    
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    
    }

    .card-texts h1{
        font-size: 1.3rem;
    }

    .card-texts p{
        text-align: center;
    }
}