.home-container-buttons{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.button-pag{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;

    text-decoration: none;
    background-color: #0e6f9f;
    border: none;
    border-radius: 10px;
    height: 44px;
    color: white;
    padding: 10px;
    margin: 10px;
    font-size: 0.7rem;
}