.LP-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(167, 204, 240);
}

.LP-header{
    align-self: flex-end;
}

.LP-body{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .LP-body{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}